In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\cesar\\Downloads\\fifa_eda.csv")
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18202,238813,J. Lundstram,19,England,47,65,Crewe Alexandra,60.0,1.0,Right,1.0,2.0,CM,2017,2019-01-01,5.750000,134.0,143.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60.0,1.0,Right,1.0,2.0,ST,2018,2020-01-01,6.250000,170.0,113.0
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0

In [3]:
#Visualización de una muestra de 20 líneas. 
muestra = df.sample(20)
muestra

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
4582,215502,B. Drągowski,20,Poland,71,82,Fiorentina,3200.0,15.0,Right,1.0,1.0,GK,2016,2021-01-01,6.166667,163.0,6100.000000
789,213655,A. Iwobi,22,Nigeria,78,84,Arsenal,14000.0,81.0,Right,1.0,4.0,LM,2013,2023-01-01,6.083333,165.0,29400.000000
13059,235518,Bolaños,23,Spain,63,72,CD Tenerife,550.0,2.0,Right,1.0,2.0,CM,2015,2019-01-01,6.166667,157.0,990.000000
10392,222836,R. Ledson,20,England,65,77,Preston North End,950.0,3.0,Right,1.0,3.0,CM,2018,2021-01-01,5.916667,152.0,2000.000000
17030,242700,Yan Zhiyu,25,China PR,55,60,Changchun Yatai FC,100.0,2.0,Left,1.0,2.0,LB,2018,2020-01-01,5.583333,143.0,223.000000
2371,219536,I. Pussetto,22,Argentina,74,82,Udinese,8500.0,22.0,Right,1.0,3.0,RW,2018,2023-01-01,5.916667,163.0,17000.000000
5836,210743,Leandrinho,24,Brazil,69,74,Rio Ave FC,1400.0,4.0,Right,1.0,4.0,CAM,2016,2020-01-01,5.833333,154.0,3100.000000
11620,148634,B. Vandenbussche,36,Belgium,64,64,KSV Cercle Brugge,60.0,2.0,Left,1.0,1.0,GK,2017,2019-01-01,6.416667,203.0,87.000000
9208,170591,M. Stein,32,Germany,66,66,FC Energie Cottbus,375.0,1.0,Right,1.0,2.0,RCB,2016,2019-01-01,6.000000,165.0,544.000000
3286,203801,F. Silva,32,Chile,72,72,Independiente,2400.0,15.0,Right,1.0,2.0,CM,2018,2020-01-01,5.833333,165.0,3300.000000
2513,239053,F. Valverde,19,Uruguay,74,84,Real Madrid,8500.0,46.0,Right,1.0,3.0,CM,2016,2021-01-01,6.000000,172.0,19100.000000
2232,204367,B. van Leer,26,Netherlands,74,76,NAC Breda,4700.0,11.0,Right,1.0,1.0,GK,2016,2019-06-30,6.166667,176.0,4585.060806
7523,229091,B. Peacock-Farrell,21,Northern Ireland,68,77,Leeds United,1100.0,8.0,Left,1.0,1.0,GK,2015,2020-01-01,6.333333,161.0,2200.000000
4575,224459,V. Salazar,25,Argentina,71,76,San Lorenzo de Almagro,2600.0,11.0,Right,1.0,3.0,RB,2017,2021-01-01,5.750000,148.0,4100.000000
3952,217852,K. Molino,28,Trinidad & Tobago,72,72,Minnesota United FC,3100.0,7.0,Right,1.0,3.0,CAM,2017,2019-01-01,5.666667,154.0,4700.000000
15476,239952,A. Kecskés,22,Hungary,59,67,FC Lugano,200.0,1.0,Right,1.0,2.0,CB,2018,2020-01-01,6.250000,165.0,330.000000
1424,212888,C. Salcedo,24,Mexico,76,80,Eintracht Frankfurt,8500.0,25.0,Right,1.0,2.0,RCB,2018,2022-01-01,6.083333,183.0,15100.000000
3954,193276,P. Klingmann,30,Germany,72,72,SV Sandhausen,2200.0,5.0,Right,1.0,3.0,RB,2015,2020-01-01,5.916667,174.0,3600.000000
12297,176442,R. Milsom,31,England,63,63,Notts County,325.0,2.0,Left,1.0,2.0,LDM,2016,2019-01-01,5.833333,159.0,4585.060806
10217,204101,C. Bickel,27,Germany,65,65,FSV Zwickau,575.0,1.0,Right,1.0,3.0,RM,2018,2021-01-01,5.833333,154.0,834.000000

In [11]:
# Generar la media, mínimo y máximo de los jugadores en total por pais.

# Seleccionar solo las columnas numéricas para evitar errores con las de tipo objeto
df_numerica = df.select_dtypes(include=[float, int])

# Incluir la columna 'Nationality' para agrupar
df_numerica['Nationality'] = df['Nationality']

# Calcular Media 
media = df_numerica.groupby('Nationality').mean()
print('Media')
media.head(5)

Media

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
Nationality,,,,,,,,,,,,
Afghanistan,234743.500000,22.500000,61.000000,67.750000,342.500000,1.250000,1.000000,2.500000,2017.250000,5.729167,149.250000,617.250000
Albania,221682.450000,24.025000,65.925000,71.700000,1920.250000,7.100000,1.102564,2.487179,2016.025000,5.950753,164.424478,3694.029560
Algeria,206355.716667,27.050000,70.633333,72.983333,4670.916667,18.083333,1.300000,2.816667,2016.916667,5.947222,167.250000,8490.020720
Andorra,192937.000000,28.000000,62.000000,64.000000,290.000000,1.000000,1.000000,2.000000,2018.000000,6.000000,174.000000,384.000000
Angola,206676.000000,25.866667,67.600000,71.533333,2018.333333,7.666667,1.133333,2.933333,2017.000000,5.877778,166.533333,3623.741441

In [8]:
# Obtener minimo
minimo = df_numerica.groupby('Nationality').min()
print('minimo')
minimo.head(5)

minimo

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
Nationality,,,,,,,,,,,,
Afghanistan,223989,20,59,64,220.0,1.0,1.0,2.0,2016,5.666667,143.0,374.0
Albania,170612,18,52,62,80.0,1.0,1.0,1.0,2008,5.583333,137.0,116.0
Algeria,49659,19,58,62,160.0,1.0,1.0,1.0,2011,5.500000,132.0,259.0
Andorra,192937,28,62,64,290.0,1.0,1.0,2.0,2018,6.000000,174.0,384.0
Angola,144037,19,60,64,325.0,1.0,1.0,2.0,2014,5.583333,143.0,463.0

In [10]:
# Obtener Maximo
maximo = df_numerica.groupby('Nationality').max()
print('Maximo')
maximo.head(5)

Maximo

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
Nationality,,,,,,,,,,,,
Afghanistan,244175,26,63,71,450.0,2.0,1.0,3.0,2018,5.833333,152.0,878.0
Albania,245792,34,81,86,20000.0,58.0,2.0,3.0,2018,6.416667,196.0,35500.0
Algeria,245565,35,85,85,40500.0,205.0,3.0,5.0,2018,6.416667,207.0,78000.0
Andorra,192937,28,62,64,290.0,1.0,1.0,2.0,2018,6.000000,174.0,384.0
Angola,242188,34,78,82,10000.0,44.0,2.0,4.0,2018,6.166667,192.0,17800.0

In [15]:
# Crear dos jugadores ficticios
jugador1 = {
    'ID': 246270, 'Name': 'Cesar Lopez', 'Age': 22, 'Nationality': 'Mexico',
    'Overall': 85, 'Potential': 90, 'Club': 'Club Atletico de Madrid', 'Value': '€50M',
    'Wage': '€100K', 'Preferred Foot': 'Right', 'Joined': 2022, 'Contract Valid Until': 2026,
    'Height': "172cm", 'Weight': "65kg", 'Release Clause': '€50M'
}

jugador2 = {
    'ID': 246271, 'Name': 'Leonardo Carbez', 'Age': 23, 'Nationality': 'Colombia',
    'Overall': 85, 'Potential': 85, 'Club': 'Eintracht Frankfurt', 'Value': '€25M',
    'Wage': '€120K', 'Preferred Foot': 'Right', 'Joined': 2022, 'Contract Valid Until': 2025,
    'Height': "172cm", 'Weight': "70kg", 'Release Clause': '€55M'
}

# Convertir los jugadores ficticios a DataFrames
df_jugador1 = pd.DataFrame([jugador1])
df_jugador2 = pd.DataFrame([jugador2])

In [16]:
df_jugador1

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,Joined,Contract Valid Until,Height,Weight,Release Clause
0,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,€50M,€100K,Right,2022,2026,172cm,65kg,€50M

In [17]:
df_jugador2

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,Joined,Contract Valid Until,Height,Weight,Release Clause
0,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,€25M,€120K,Right,2022,2025,172cm,70kg,€55M

In [30]:
# Combinar los dataframes de los jugadores creados
df_concatenado = pd.concat([df_jugador1, df_jugador2], ignore_index=True) #ignore_index=True integrar los indices secuencialmente en el df combinado
df_concatenado

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,Joined,Contract Valid Until,Height,Weight,Release Clause
0,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,€50M,€100K,Right,2022,2026,172cm,65kg,€50M
1,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,€25M,€120K,Right,2022,2025,172cm,70kg,€55M

In [42]:
df_concatenado.dtypes

ID                       int64
Name                    object
Age                      int64
Nationality             object
Overall                  int64
Potential                int64
Club                    object
Value                   object
Wage                    object
Preferred Foot          object
Joined                   int64
Contract Valid Until     int64
Height                  object
Weight                  object
Release Clause          object
dtype: object

In [37]:
# Combinar en el DataFrame original
df = pd.concat([df, df_concatenado], ignore_index=True)
df.tail()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0
18207,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,€50M,€100K,Right,NaN,NaN,NaN,2022,2026,172cm,65kg,€50M
18208,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,€25M,€120K,Right,NaN,NaN,NaN,2022,2025,172cm,70kg,€55M
18209,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,€50M,€100K,Right,NaN,NaN,NaN,2022,2026,172cm,65kg,€50M
18210,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,€25M,€120K,Right,NaN,NaN,NaN,2022,2025,172cm,70kg,€55M

In [38]:
# Eliminar los duplicados
df.drop_duplicates(inplace=True)

In [39]:
df.tail()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0
18207,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,€50M,€100K,Right,NaN,NaN,NaN,2022,2026,172cm,65kg,€50M
18208,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,€25M,€120K,Right,NaN,NaN,NaN,2022,2025,172cm,70kg,€55M

In [52]:
#  Agregar datos en columnas faltantes

df.loc[18207, ['International Reputation', 'Skill Moves', 'Position', 'Value', 'Wage', 'Height', 'Weight', 'Release Clause']] = [1.0, 2.0, 'RB', 50, 100, 5.833333, 172.0, 50]
df.loc[18208, ['International Reputation', 'Skill Moves', 'Position', 'Value', 'Wage', 'Height', 'Weight', 'Release Clause', 'Skill Moves\t']] = [1.0, 2.0, 'CB', 25, 100, 5.833333, 172.0, 20, 2.0]

In [53]:
df.tail()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Skill Moves\t
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,NaN
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,NaN
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,NaN
18207,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,50,100,Right,1.0,2.0,RB,2022,2026,5.833333,172.0,50,2.0
18208,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,25,100,Right,1.0,2.0,CB,2022,2025,5.833333,172.0,20,2.0

In [47]:
df.dtypes

ID                            int64
Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                        object
Wage                         object
Preferred Foot               object
International Reputation    float64
Skill Moves                 float64
Position                     object
Joined                        int64
Contract Valid Until         object
Height                       object
Weight                       object
Release Clause               object
Skill Moves\t               float64
dtype: object

In [54]:
#Cambiar tipo de datos a numericos para mostrar estadisticas
df = df.astype({'Value': float, 'Joined': int, 'Wage': float, 'Height': float, 'Weight': float, 'Release Clause': float})

In [55]:
df.dtypes

ID                            int64
Name                         object
Age                           int64
Nationality                  object
Overall                       int64
Potential                     int64
Club                         object
Value                       float64
Wage                        float64
Preferred Foot               object
International Reputation    float64
Skill Moves                 float64
Position                     object
Joined                        int32
Contract Valid Until         object
Height                      float64
Weight                      float64
Release Clause              float64
Skill Moves\t               float64
dtype: object

In [64]:
# Calcular estadisticas nuevamente

#  Media 
media = df_numerica.groupby('Nationality').mean()
print('Media')
media.head(5)

Media

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
Nationality,,,,,,,,,,,,
Afghanistan,234743.500000,22.500000,61.000000,67.750000,342.500000,1.250000,1.000000,2.500000,2017.250000,5.729167,149.250000,617.250000
Albania,221682.450000,24.025000,65.925000,71.700000,1920.250000,7.100000,1.102564,2.487179,2016.025000,5.950753,164.424478,3694.029560
Algeria,206355.716667,27.050000,70.633333,72.983333,4670.916667,18.083333,1.300000,2.816667,2016.916667,5.947222,167.250000,8490.020720
Andorra,192937.000000,28.000000,62.000000,64.000000,290.000000,1.000000,1.000000,2.000000,2018.000000,6.000000,174.000000,384.000000
Angola,206676.000000,25.866667,67.600000,71.533333,2018.333333,7.666667,1.133333,2.933333,2017.000000,5.877778,166.533333,3623.741441

In [62]:
# Minimo
minimo = df_numerica.groupby('Nationality').min()
print('minimo')
minimo.head(5)

minimo

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
Nationality,,,,,,,,,,,,
Afghanistan,223989,20,59,64,220.0,1.0,1.0,2.0,2016,5.666667,143.0,374.0
Albania,170612,18,52,62,80.0,1.0,1.0,1.0,2008,5.583333,137.0,116.0
Algeria,49659,19,58,62,160.0,1.0,1.0,1.0,2011,5.500000,132.0,259.0
Andorra,192937,28,62,64,290.0,1.0,1.0,2.0,2018,6.000000,174.0,384.0
Angola,144037,19,60,64,325.0,1.0,1.0,2.0,2014,5.583333,143.0,463.0

In [63]:
# Maximo
maximo = df_numerica.groupby('Nationality').max()
print('Maximo')
maximo.head(5)

Maximo

,ID,Age,Overall,Potential,Value,Wage,International Reputation,Skill Moves,Joined,Height,Weight,Release Clause
Nationality,,,,,,,,,,,,
Afghanistan,244175,26,63,71,450.0,2.0,1.0,3.0,2018,5.833333,152.0,878.0
Albania,245792,34,81,86,20000.0,58.0,2.0,3.0,2018,6.416667,196.0,35500.0
Algeria,245565,35,85,85,40500.0,205.0,3.0,5.0,2018,6.416667,207.0,78000.0
Andorra,192937,28,62,64,290.0,1.0,1.0,2.0,2018,6.000000,174.0,384.0
Angola,242188,34,78,82,10000.0,44.0,2.0,4.0,2018,6.166667,192.0,17800.0

In [107]:
pip install countryinfo

Collecting countryinfoNote: you may need to restart the kernel to use updated packages.

  Downloading countryinfo-0.1.2-py3-none-any.whl.metadata (24 kB)
Downloading countryinfo-0.1.2-py3-none-any.whl (602 kB)
   ---------------------------------------- 0.0/602.2 kB ? eta -:--:--
    --------------------------------------- 10.2/602.2 kB ? eta -:--:--
    --------------------------------------- 10.2/602.2 kB ? eta -:--:--
   - ------------------------------------- 30.7/602.2 kB 217.9 kB/s eta 0:00:03
   - ------------------------------------- 30.7/602.2 kB 217.9 kB/s eta 0:00:03
   ------- ------------------------------ 122.9/602.2 kB 514.3 kB/s eta 0:00:01
   -------------- ----------------------- 225.3/602.2 kB 762.6 kB/s eta 0:00:01
   -------------------- ----------------- 327.7/602.2 kB 922.8 kB/s eta 0:00:01
   --------------------------- ------------ 409.6/602.2 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------  593.9/602.2 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 602.2/602.2 kB 1.3 MB/s eta 0:00:00
Installing collected packages: countryinfo
Successfully installed countryinfo-0.1.2

In [69]:
pip install iso3166

Collecting iso3166
  Downloading iso3166-2.1.1-py3-none-any.whl.metadata (6.6 kB)
Downloading iso3166-2.1.1-py3-none-any.whl (9.8 kB)
Installing collected packages: iso3166
Successfully installed iso3166-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [70]:
pip show iso3166

Name: iso3166Note: you may need to restart the kernel to use updated packages.

Version: 2.1.1
Summary: Self-contained ISO 3166-1 country definitions.
Home-page: http://github.com/deactivated/python-iso3166
Author: Mike Spindel
Author-email: mike@spindel.is
License: MIT
Location: c:\Users\cesar\anaconda3\Lib\site-packages
Requires:
Required-by:

In [118]:
df.drop(columns=['Nationality_Code'], inplace=True)

In [125]:
# Función para obtener el código de país de dos letras
def get_country_code(country_name):
    try:
        return countries_by_name[country_name.upper()].alpha2
    except KeyError:
        return None

# Creamos un nueva columna que albergue el codigo del pais
df['Nationality_Code'] = df['Nationality'].apply(get_country_code)

In [126]:
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Skill Moves\t,Nationality_Code
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,NaN,AR
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,NaN,PT
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,NaN,BR
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,NaN,ES
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,NaN,BE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,1.0,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,NaN,None
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,NaN,None
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,1.0,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,NaN,None
18207,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,50.0,100.0,Right,1.0,2.0,RB,2022,2026,5.833333,172.0,50.0,2.0,MX
18208,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,25.0,100.0,Right,1.0,2.0,CB,2022,2025,5.833333,172.0,20.0,2.0,CO

In [127]:
# Averiguamos cuales son los paeses que no se les aplico el codigo
missing_countries = df['Nationality'].apply(lambda x: x.upper() not in countries_by_name)
print("Nombres de países no encontrados:", df[missing_countries]['Nationality'].unique())

Nombres de países no encontrados: ['England' 'Wales' 'Bosnia Herzegovina' 'Korea Republic' 'Czech Republic'
 'Scotland' 'Central African Rep.' 'DR Congo' 'Ivory Coast' 'Russia'
 'Venezuela' 'Turkey' 'Republic of Ireland' 'United States' 'Cape Verde'
 'Syria' 'Iran' 'FYR Macedonia' 'China PR' 'Guinea Bissau' 'Tanzania'
 'Northern Ireland' 'Curacao' 'Moldova' 'Bolivia' 'Trinidad & Tobago'
 'São Tomé & Príncipe' 'Korea DPR' 'St Kitts Nevis' 'Antigua & Barbuda'
 'Palestine' 'St Lucia']

In [133]:
# Actualizamos la columna que creamos de "Nationality_Code"
from iso3166 import countries_by_name
import pytz

# Crear un diccionario manual para los países no encontrados
countries_missing = {
    'ENGLAND': 'GB',
    'WALES': 'GB',
    'BOSNIA HERZEGOVINA': 'BA',
    'KOREA REPUBLIC': 'KR',
    'CZECH REPUBLIC': 'CZ',
    'SCOTLAND': 'GB',
    'CENTRAL AFRICAN REP.': 'CF',
    'DR CONGO': 'CD',
    'IVORY COAST': 'CI',
    'RUSSIA': 'RU',
    'VENEZUELA': 'VE',
    'TURKEY': 'TR',
    'REPUBLIC OF IRELAND': 'IE',
    'UNITED STATES': 'US',
    'CAPE VERDE': 'CV',
    'SYRIA': 'SY',
    'IRAN': 'IR',
    'FYR MACEDONIA': 'MK',
    'CHINA PR': 'CN',
    'GUINEA BISSAU': 'GW',
    'TANZANIA': 'TZ',
    'NORTHERN IRELAND': 'GB',
    'CURACAO': 'CW',
    'MOLDOVA': 'MD',
    'BOLIVIA': 'BO',
    'TRINIDAD & TOBAGO': 'TT',
    'SÃO TOMÉ & PRÍNCIPE': 'ST',
    'KOREA DPR': 'KP',
    'ST KITTS NEVIS': 'KN',
    'ANTIGUA & BARBUDA': 'AG',
    'PALESTINE': 'PS',
    'ST LUCIA': 'LC'
}

# Función para obtener el código del país
def get_country_code(country_name):
    country_name = country_name.upper()
    if country_name in countries_by_name:
        return countries_by_name[country_name].alpha2
    elif country_name in countries_missing:
        return countries_missing[country_name]
    else:
        return 'Unknown'

#  Añadimos la Nueva Columna
df['Nationality_Code'] = df['Nationality'].apply(get_country_code)

# Creamos una nueva funcion que nos permita obtener la zona horaria de cada pais 
def get_time_zone(country_code):
    try:
        return pytz.country_timezones[country_code][0]
    except KeyError:
        return 'Unknown'
    
# Añadir la nueva columna que contenga la zona horaria
df['Time Zone'] = df['Nationality_Code'].apply(lambda x: get_time_zone(x))

In [138]:
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Skill Moves\t,Nationality_Code,Time Zone
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,...,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0,NaN,AR,America/Argentina/Buenos_Aires
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,...,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0,NaN,PT,Europe/Lisbon
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0,NaN,BR,America/Noronha
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,...,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0,NaN,ES,Europe/Madrid
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,...,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0,NaN,BE,Europe/Brussels
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,...,2.0,ST,2017,2021-01-01,5.666667,148.0,165.0,NaN,GB,Europe/London
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,...,2.0,RW,2018,2019-01-01,5.833333,154.0,143.0,NaN,GB,Europe/London
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,...,2.0,CM,2018,2019-01-01,5.833333,176.0,165.0,NaN,GB,Europe/London
18207,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,50.0,100.0,Right,...,2.0,RB,2022,2026,5.833333,172.0,50.0,2.0,MX,America/Mexico_City
18208,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,25.0,100.0,Right,...,2.0,CB,2022,2025,5.833333,172.0,20.0,2.0,CO,America/Bogota

In [139]:
# Candidato al balon de oro
# Generar la columna para el balon de oro basada en el potencial
df['Golden_Ball'] = df['Potential'].apply(lambda x: 'Candidato' if x > 85 else 'Next Year')
df

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Skill Moves\t,Nationality_Code,Time Zone,Golden_Ball
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,...,RF,2004,2021-01-01,5.583333,159.0,226500.0,NaN,AR,America/Argentina/Buenos_Aires,Candidato
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,...,ST,2018,2022-01-01,6.166667,183.0,127100.0,NaN,PT,Europe/Lisbon,Candidato
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,...,LW,2017,2022-01-01,5.750000,150.0,228100.0,NaN,BR,America/Noronha,Candidato
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,...,GK,2011,2020-01-01,6.333333,168.0,138600.0,NaN,ES,Europe/Madrid,Candidato
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,...,RCM,2015,2023-01-01,5.916667,154.0,196400.0,NaN,BE,Europe/Brussels,Candidato
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,...,ST,2017,2021-01-01,5.666667,148.0,165.0,NaN,GB,Europe/London,Next Year
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,...,RW,2018,2019-01-01,5.833333,154.0,143.0,NaN,GB,Europe/London,Next Year
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,...,CM,2018,2019-01-01,5.833333,176.0,165.0,NaN,GB,Europe/London,Next Year
18207,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,50.0,100.0,Right,...,RB,2022,2026,5.833333,172.0,50.0,2.0,MX,America/Mexico_City,Candidato
18208,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,25.0,100.0,Right,...,CB,2022,2025,5.833333,172.0,20.0,2.0,CO,America/Bogota,Next Year

In [140]:
df.tail()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Skill Moves\t,Nationality_Code,Time Zone,Golden_Ball
18204,241638,B. Worman,16,England,47,67,Cambridge United,60.0,1.0,Right,...,ST,2017,2021-01-01,5.666667,148.0,165.0,NaN,GB,Europe/London,Next Year
18205,246268,D. Walker-Rice,17,England,47,66,Tranmere Rovers,60.0,1.0,Right,...,RW,2018,2019-01-01,5.833333,154.0,143.0,NaN,GB,Europe/London,Next Year
18206,246269,G. Nugent,16,England,46,66,Tranmere Rovers,60.0,1.0,Right,...,CM,2018,2019-01-01,5.833333,176.0,165.0,NaN,GB,Europe/London,Next Year
18207,246270,Cesar Lopez,22,Mexico,85,90,Club Atletico de Madrid,50.0,100.0,Right,...,RB,2022,2026,5.833333,172.0,50.0,2.0,MX,America/Mexico_City,Candidato
18208,246271,Leonardo Carbez,23,Colombia,85,85,Eintracht Frankfurt,25.0,100.0,Right,...,CB,2022,2025,5.833333,172.0,20.0,2.0,CO,America/Bogota,Next Year